extends studentBase
block title
     | Student Report 
block container

    h1 This Is Students Reprot Form

    h3 #{text}

    form(action="/student/report", method="post")

        input#input1(type="text", name="input1")

        input#input2(type="text",name="input2")

        input(type="submit", value="Submit") 